@tailwind base;
@tailwind components;
@tailwind utilities;


.cloud-border {
    position: relative;
    background: linear-gradient(to bottom, #87cefa 80%, #ffffff 100%);
    /* 调整高度 */
    width: 100%;
    /* 全宽 */
}